


<div id="custom-content" class="white-popup-block">

	<div class="row">
	  <div class="col-sm-12 text-center">
      <div class="owl-carousel owl-theme portfolio-slider">
      <% gallery.assets.each do |asset| %>
						<div class="item">
            
					
							<%= image_tag asset.image.url(:original) %>

						</div>
            <% end %>
            		</div>
       </div><!-- .col -->
		

	</div><!-- .row -->

	<div class="popup-content">
		<div class="row">

			<div class="col-sm-12">

				<div class="popup-header">
					<h2 class="popup-title"><%= gallery.name %></h2>
					<div class="popup-subtitle">
						<%= gallery.sub %>
					</div>
					<div class="popup-line"></div>
				</div>

			</div>

		</div>

		<div class="row">

			<div class="col-sm-12">
				<%= gallery.description.html_safe %>
			</div>

		</div>

	</div>

	<section class="popup-callout">
		<div class="row">

			<div class="col-sm-12">
				<h3>Like Our Works?</h3>
				<div class="module-line"></div>
			</div>

			<div class="col-sm-12">
				<div class="btn-list">
					<a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
					<a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
				</div>
			</div>

		</div>
	</section>

</div>
<script>
	$(".owl-carousel").owlCarousel();
</script>

