

<section id="portfolio">
      <div id="portfolio-single" class="section-inner">

		<div id="custom-content" class="white-popup-block">

			<div class="row">
			  <div class="col-sm-12 text-center">
		      <div class="owl-carousel owl-theme portfolio-slider">
		      <% @gallery.assets.each do |asset| %>
								<div class="item">
		            
							
									<%= image_tag asset.image.url(:original) %>

								</div>
		            <% end %>
		            		<div class="item-video">
		            			<a class="owl-video" href="https://vimeo.com/100785832"></a>
		            		</div>
		            		<div class="item-video">
		            			<a class="owl-video" href="http://www.youtube.com/watch?v=0fhoIate4qI"></a>
		            		</div>
		            		 <div class="item-video" data-merge="3"><a class="owl-video" href="http://vimeo.com/23924346"></a></div>
    <div class="item-video" data-merge="1"><a class="owl-video" href="https://www.youtube.com/watch?v=JpxsRwnRwCQ"></a></div>
    <div class="item-video" data-merge="2"><a class="owl-video" href="http://www.youtube.com/watch?v=FBu_jxT1PkA"></a></div>
    <div class="item-video" data-merge="1"><a class="owl-video" href="http://www.youtube.com/watch?v=oy18DJwy5lI"></a></div>
    <div class="item-video" data-merge="2"><a class="owl-video" href="http://www.youtube.com/watch?v=H3jLkJrhHKQ"></a></div>
    <div class="item-video" data-merge="3"><a class="owl-video" href="https://www.youtube.com/watch?v=g3J4VxWIM6s"></a></div>
    <div class="item-video" data-merge="1"><a class="owl-video" href="http://www.youtube.com/watch?v=0fhoIate4qI"></a></div>
    <div class="item-video" data-merge="2"><a class="owl-video" href="https://www.youtube.com/watch?v=EF_kj2ojZaE"></a></div>
		            		</div>
		       </div><!-- .col -->
				
		
			</div><!-- .row -->

			<div class="popup-content">
				<div class="row">

					<div class="col-sm-12">

						<div class="popup-header">
							<h2 class="popup-title"><%= @gallery.name %></h2>
							<div class="popup-subtitle">
								<%= @gallery.sub %>
							</div>
							<div class="popup-line"></div>
						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-sm-12">
						<%= @gallery.description.html_safe %>
					</div>

				</div>

			</div>

			<section class="popup-callout">
				<div class="row">

					<div class="col-sm-12">
						<h3>Like Our Works?</h3>
						<div class="module-line"></div>
					</div>

					<div class="col-sm-12">
						<div class="btn-list">
							<a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
							<a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
						</div>
					</div>

				</div>
			</section>

		</div>


    </div> <!-- END #portfolio-single .section-inner -->
</section> <!-- END SECTION #portfolio-->